.divSec {

    margin-bottom: 10px;
    margin-top: 10px;

}

.guessCl {

    margin-left: 5px;

}
#guessPart {

    border: 2px solid blue;
    margin-top:10px;
    overflow:scroll;
    height:200px;

}
